* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    padding-top: 0;
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* HEADER */
  
  header {
    display: flex;
    background: #000000;
    text-align: center;
  }
  
  .grid-container1{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  }

  .item1 {
    text-align: center;
    margin-left: 300px;
    margin-right: 400px;
    margin-top: 15px;
  }
/* BOTÕES DO SITE */

.item2 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
   }
    
   .btn-menu {
    text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #00ffb7;
  border-radius: 0.6em;
  color: #00ffb7;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  margin: 2px;
  margin-left: 15px;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
   }
   .btn-menu:hover {
    background-color: #00ffb7;
    color: #000000;
    outline: 0;
   }
  
  .btn-menu {
    background-position: center;
  }

 /*section*/

 .home{
     text-align: center;
     margin-top: 50px;
 }

 .input{
     width: 500px;
     height: 50px;
     text-align: center;
 }

 input .btn-menu{
   width: 80px;
   height: 40px;
 }

 .inp{
     text-align: justify;
     font-size: 20px;
     margin-left: 480px;
     margin-bottom: 10px;
 }

section{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1;
}

 h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
 }

 h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #00ffb7;
 }

 h2{
     font-size: 25px;
     color: #00ffb7;
     margin-top: 50px;
     margin-bottom: 25px;
 }

 p{
    font-size: 15px;
    text-align: justify;
    
 }

   /*FOOTER*/

.face{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  .twitter{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .whatsapp{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .instagram{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #00ffb7;
    color: black;
    text-align: center;
  }
  
  .footer{
    margin-bottom: 10px;
  }

  .footer1{
      text-align: center;
  }

  .footer2{
      text-align: center;
  }